<div class="customers-container">
    <h2>Customers</h2>
  
    <!-- Customers List -->
    <div class="customers-list">
      <h3>Customers List</h3>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Customer ID</th>
            <th scope="col">Fist Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="customer.id">
            <td>{{customer.id}}</td>
            <td>{{customer.first_name}}</td>
            <td>{{customer.last_name}}</td>
            <td>{{customer.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
  