<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Customer Profile</h1>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    ID: {{user.id}} <br>
                    Name: {{user.first_Name}} {{user.last_Name}} <br>
                    Email: {{user.email}} <br>
                </div>
            <div class="card-footer">
                <a routerLink="/" class="btn btn-success">Return Home</a>
            </div>
            </div>
        </div>
    </div>
</div>