<div class="customers-container">
    <h2>Customers</h2>
  
    <!-- Form to Add New Customer -->
    <div class="customer-form">
      <h3>Add New Customer</h3>
      <form (ngSubmit)="addCustomer(); newCustomerForm.reset()" #newCustomerForm="ngForm">
        <div>
          <label for="first_name">First Name:</label>
          <input type="text" id="first_name" name="first_name" ngModel required>
        </div>
        <div>
          <label for="last_name">Last Name:</label>
          <input type="text" id="last_name" name="last_name" ngModel required>
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" ngModel required>
        </div>
        <button type="submit">Add Customer</button>
      </form>
    </div>
  
    <!-- Customers List -->
    <div class="customers-list">
      <h3>Customers List</h3>
      <ul>
        <li *ngFor="let customer of customers">
          <div>
            <strong>Customer ID:</strong> {{customer.customer_id}}
          </div>
          <div>
            <strong>First Name:</strong> {{customer.first_name}}
          </div>
          <div>
            <strong>Last Name:</strong> {{customer.last_name}}
          </div>
          <div>
            <strong>Email:</strong> {{customer.email}}
          </div>
          <button (click)="deleteCustomer(customer.customer_id)">Delete</button>
          <button (click)="customer.isEditing = !customer.isEditing">Edit</button>
  
          <!-- Edit Customer Form -->
          <div *ngIf="customer.isEditing">
            <form (ngSubmit)="updateCustomer(customer.customer_id, customer); customer.isEditing = false">
              <div>
                <label for="edit_first_name">First Name:</label>
                <input type="text" id="edit_first_name" [(ngModel)]="customer.first_name" name="edit_first_name" required>
              </div>
              <div>
                <label for="edit_last_name">Last Name:</label>
                <input type="text" id="edit_last_name" [(ngModel)]="customer.last_name" name="edit_last_name" required>
              </div>
              <div>
                <label for="edit_email">Email:</label>
                <input type="email" id="edit_email" [(ngModel)]="customer.email" name="edit_email" required>
              </div>
              <button type="submit">Update Customer</button>
              <button type="button" (click)="customer.isEditing = false">Cancel</button>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
  