<div class="menu-container">
  <h2>Menu</h2>

  <!-- Form to Add New Starter Item -->
  <div class="starter-form">
    <h3>Add New Starter Item</h3>
    <form (ngSubmit)="addStarter(starter); newStarterForm.reset()" #newStarterForm="ngForm">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="starter.name" required>
      </div>
      <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" [(ngModel)]="starter.price" required>
      </div>
      <button type="submit">Add Starter Item</button>
    </form>
  </div>

  <!-- Form to Add New Main Item -->
  <div class="main-form">
    <h3>Add New Main Item</h3>
    <form (ngSubmit)="addMain(main); newMainForm.reset()" #newMainForm="ngForm">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="main.name" required>
      </div>
      <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" [(ngModel)]="main.price" required>
      </div>
      <button type="submit">Add Main Item</button>
    </form>
  </div>

  <!-- Form to Add New Dessert Item -->
  <div class="dessert-form">
    <h3>Add New Dessert Item</h3>
    <form (ngSubmit)="addDessert(dessert); newDessertForm.reset()" #newDessertForm="ngForm">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="dessert.name" required>
      </div>
      <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" [(ngModel)]="dessert.price" required>
      </div>
      <button type="submit">Add Dessert Item</button>
    </form>
  </div>

  <!-- Form to Add New Side Item -->
  <div class="side-form">
    <h3>Add New Side Item</h3>
    <form (ngSubmit)="addSide(side); newSideForm.reset()" #newSideForm="ngForm">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="side.name" required>
      </div>
      <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" [(ngModel)]="side.price" required>
      </div>
      <button type="submit">Add Side Item</button>
    </form>
  </div>

  <!-- Starters List -->
  <div class="menu-category">
    <h3>Starters</h3>
    <ul>
      <li *ngFor="let starter of starters">
        <div>
          <strong>Name:</strong> {{starter.name}}
        </div>
        <div>
          <strong>Price:</strong> {{starter.price | currency}}
        </div>
        <button (click)="deleteStarter(starter.starter_id)">Delete</button>
        <button (click)="starter.isEditing = !starter.isEditing">Edit</button>
  
        <!-- Edit Starter Form -->
        <div *ngIf="starter.isEditing">
          <form (ngSubmit)="updateStarter(starter.starter_id, starter); starter.isEditing = false">
            <div>
              <label for="edit_name">Name:</label>
              <input type="text" id="edit_name" [(ngModel)]="starter.name" name="edit_name" required>
            </div>
            <div>
              <label for="edit_last_name">Price:</label>
              <input type="text" id="edit_price" [(ngModel)]="starter.price" name="edit_price" required>
            </div>
            <button type="submit">Update Starter</button>
            <button type="button" (click)="starter.isEditing = false">Cancel</button>
          </form>
        </div>
      </li>
    </ul>
  </div>

  <!-- Mains List -->
  <div class="menu-category">
    <h3>Mains</h3>
    <ul>
      <li *ngFor="let main of mains">
        <div>
          <strong>Name:</strong> {{main.name}}
        </div>
        <div>
          <strong>Price:</strong> {{main.price | currency}}
        </div>
        <button (click)="deleteMain(main.main_id)">Delete</button>
        <button (click)="main.isEditing = !main.isEditing">Edit</button>
  
        <!-- Edit Main Form -->
        <div *ngIf="main.isEditing">
          <form (ngSubmit)="updateMain(main.main_id, main); main.isEditing = false">
            <div>
              <label for="edit_name">Name:</label>
              <input type="text" id="edit_name" [(ngModel)]="main.name" name="edit_name" required>
            </div>
            <div>
              <label for="edit_last_name">Price:</label>
              <input type="text" id="edit_price" [(ngModel)]="main.price" name="edit_price" required>
            </div>
            <button type="submit">Update Main</button>
            <button type="button" (click)="main.isEditing = false">Cancel</button>
          </form>
        </div>
      </li>
    </ul>
  </div>

  <!-- Desserts List -->
  <div class="menu-category">
    <h3>Desserts</h3>
    <ul>
      <li *ngFor="let dessert of desserts">
        <div>
          <strong>Name:</strong> {{dessert.name}}
        </div>
        <div>
          <strong>Price:</strong> {{dessert.price | currency}}
        </div>
        <button (click)="deleteDessert(dessert.dessert_id)">Delete</button>
        <button (click)="dessert.isEditing = !dessert.isEditing">Edit</button>
  
        <!-- Edit dessert Form -->
        <div *ngIf="dessert.isEditing">
          <form (ngSubmit)="updateDessert(dessert.dessert_id, dessert); dessert.isEditing = false">
            <div>
              <label for="edit_name">Name:</label>
              <input type="text" id="edit_name" [(ngModel)]="dessert.name" name="edit_name" required>
            </div>
            <div>
              <label for="edit_last_name">Price:</label>
              <input type="text" id="edit_price" [(ngModel)]="dessert.price" name="edit_price" required>
            </div>
            <button type="submit">Update Dessert</button>
            <button type="button" (click)="dessert.isEditing = false">Cancel</button>
          </form>
        </div>
      </li>
    </ul>
  </div>

  <!-- Sides List -->
  <div class="menu-category">
    <h3>Sides</h3>
    <ul>
      <li *ngFor="let side of sides">
        <div>
          <strong>Name:</strong> {{side.name}}
        </div>
        <div>
          <strong>Price:</strong> {{side.price | currency}}
        </div>
        <button (click)="deleteSide(side.side_id)">Delete</button>
        <button (click)="side.isEditing = !side.isEditing">Edit</button>
  
        <!-- Edit Side Form -->
        <div *ngIf="side.isEditing">
          <form (ngSubmit)="updateSide(side.side_id, side); side.isEditing = false">
            <div>
              <label for="edit_name">Name:</label>
              <input type="text" id="edit_name" [(ngModel)]="side.name" name="edit_name" required>
            </div>
            <div>
              <label for="edit_last_name">Price:</label>
              <input type="text" id="edit_price" [(ngModel)]="side.price" name="edit_price" required>
            </div>
            <button type="submit">Update Side</button>
            <button type="button" (click)="side.isEditing = false">Cancel</button>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
